.file-label {
    position: absolute;
    display: flex;
    cursor: pointer;
    height: 100%;
    display: flex;
    right: 10px;
    top:0;
    transition: 0.15s ease;
    width: 30px;
    justify-content: center;
    align-items: center;
}

.file-input {
    display: none;  
}

.file-attachment {
    position: absolute;
    z-index: 2;
    color:rgb(140, 140, 140);
    width: 30px; 
    height: 30px;  
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
}

.FeedInput:focus-within .file-label {
    right: 10px;
    opacity: 1;
    scale: 0.7;
    background-color: rgba(0, 0, 0, 0);
}

.FeedInput:disabled .file-label {
    background-color: rgba(0, 0, 0, 0);
    cursor: not-allowed; 
}

.FeedInput:disabled .file-attachment {
    background-color: rgba(0, 0, 0, 0);
    cursor: not-allowed; 
}

.FeedInput:focus-within .file-attachment {
    background-color: rgba(0, 0, 0, 0);
}