.Post{
    width: 100%;
    background-color: rgba(75, 75, 75, 0.301);
    border-radius: 15px;
    border: 1px rgba(255, 255, 255, 0.534) solid;
    display: flex;
    height: fit-content;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}
  
.InnerPost{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.PostData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.PostManipulation{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    position: relative;
}

.PostManipulation button{
    padding: 0px 9px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(61, 61, 61, 0.774);
    backdrop-filter: blur(2px);
    border: rgba(255, 255, 255, 0.527) 1px solid;
    cursor: pointer;
}

.PostSettings{
    position: absolute;
    height:0;
    top: 30px;
    opacity:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px 20px;
    overflow: hidden;
    background-color: rgba(61, 61, 61, 0.774);
    backdrop-filter: blur(2px);
    border: rgba(255, 255, 255, 0.527) 0px solid
}

.PostDate{
    color:rgb(109, 109, 109)
}

.PostRating{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    color:rgb(126, 126, 126);
}

.PostRating span{
    white-space: nowrap;
}


.PostRatingThumb{
    --colorNoInteraction: transparent;
    --colorInteraction: rgb(76, 0, 255);
    border-radius: 20px;
    border: 1px white solid;
    padding: 4px 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    font-size: 100%;
}

.PostRatingThumb:disabled{
    color: rgb(99, 99, 99);
}

.Comments{
    padding: 10px 0px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap:20px;
    max-height: 350px;
    box-sizing: border-box;
    position: relative;
    margin-top: -30px;
}
.Comment{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    padding: 10px 20px;
    background-color:rgb(25, 25, 25);
    width: 95%;
    border-bottom:1px rgba(255, 255, 255, 0.535) solid;
    border-radius: 10px;
    position: relative;
}

.CommentData{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:20px;
}

.CommentContent {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    word-break: break-all;
}

.CommentManip{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}


.CommentManip button{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(61, 61, 61, 0.774);
    backdrop-filter: blur(2px);
    border: rgba(255, 255, 255, 0.527) 1px solid;
    display: flex;
    justify-content: center;
    color:white;
    align-items: center;
}

.CommentsPostMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(25, 25, 25);
    padding: 10px;
    border-radius: 10px;
    top: 0; 
    z-index: 1; 

}

.CommentsPostMenu input[type="text"]{
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px white solid;
    background-color: rgb(255, 255, 255);
    color: black
}

.CommentsPostMenu button{
    width: 30%;
    border-radius: 20px;
    border: 1px white solid;
    color:white;
    background-color: rgb(93, 0, 255);
    padding: 10px 0px;
}

.CommentContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
}
.CommentsBorder{
    padding: 10px 0px;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    width: 100%;
    gap:20px;
    border-left: rgba(251, 251, 251, 0.489) 2px;
    border-left-style:dashed;
    box-sizing: border-box;
    position: relative;
}

.PostImageContainter{
    width: 100%;
}

.PostImage{
    width: 100%;
    border-radius: 20px;
    max-width: 400px;
    pointer-events: none;
    border: 1px rgba(255, 255, 255, 0.508) solid;
    background-color: rgb(105, 105, 105);
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.291);
}