.root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,html{
  background-color: #161616;
  color: rgba(255, 255, 255, 0.87);
  font-family: Helvetica;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.WebsiteContent{
  width:90%;
  height: 100%;
  word-wrap: break-word;
  max-width: 1000px;
}

.Feed{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.FeedInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; 
  box-sizing: border-box; }


.FeedInputText{
  color:rgb(0, 0, 0);
  border: 2px rgb(255, 255, 255) solid;
  background-color:rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  height: auto;
  width: 100%;
  max-width: 300px;
}

.FeedInputButton{
  border: 2px rgb(159, 100, 255) solid;
  color:white;
  font-size: 15px;
  margin: 0;
  padding: 10px 10px;
  background-color: rgb(103, 8, 255);
  border-radius: 20px;
  width: 40%;
  max-width: 150px;
}